---
redirect_from: /ceremony
---
{% include header.html title="The Ceremony" %}

<!-- Ceremony main page -->
	<section id="ceremony_main" class="main style3 primary">
		<div class="content container clearbg box">
			<header><h2><b>~Day of Details~</b></h1>
            <p>We're looking forward to a a beautiful day of love, music, and Italian food! </p></header>

            <h2>January 18, 2020</h2><br>

            <h4> Ceremony </h4>
            <p> 11:00 AM (doors open 10:45)<br>
            St. Stephen's Catholic Community, Winter Springs FL <br>
            575 Tuskawilla Rd. Winter Springs, FL 32708<br>
            <i> Plentiful parking is available in the lot towards the rear of the church </i> <br><br>

            <h4> Mimosas and Music on the Dock </h4>
            Noon - 1 PM <br>
            Enzo's on the Lake, Longwood FL <br>
            1130 US Hwy 17/92, Longwood, FL 32760 <br>
            <i> Your car will be valet parked during the cocktail hour and reception </i><br><br>

            <h4> Leisurely Lunch, Mingling, Dancing, Cake! </h4>
            1 - 4 PM<br>
            Enzo's on the Lake<br>
            <i> Come Hungry! </i><br><br>

            <h4> After Party </h4>
            7 - 10 PM (or later)<br>
            Sourglass Brewery<br>
            480 S. Ronald Reagan Blvd<br>
            Longwood, FL 32750 <br>
            <i> A quirkly little local brewery. Come dance with us! </i><br>
            <br><br>
            <h2> January 19, 2020 </h2><br>
            <h4> Post-Wedding Brunch </h4>
            Friends and family are invited to drop in between 10am and 2pm for a light Sunday brunch.<br>
            The Held Residence<br>
            1568 Francois Ct <br>
            Oviedo, FL 32765<br><br>
            <h2> Rehearsal </h2>
            A rehearsal for the wedding party will be held on January 17, 2020 at 4pm at St. Stephen's Church. <br>
		</div>
	</section>

<!-- Footer -->
{% include footer.html %}
