---
redirect_from: /ceremony
---
{% include header.html title="The Ceremony" %}

<!-- Ceremony main page -->
	<section id="ceremony_main" class="main style3 primary">
		<div class="content container clearbg box">
			<header><h2 class="fancy">Day of Details</h2></header>
            <p>We're looking forward to a a beautiful day of love, music, and Italian food! </p>

            <h3 class="typewriter"><b>January 18, 2020</b></h3>
            <br>
            <h4 class="typewriter">Ceremony</h4>
            <p>10:30 AM (doors open 10:15)
            <br>
            St. Stephen's Catholic Community, Winter Springs FL
            <br>
            575 Tuskawilla Rd. Winter Springs, FL 32708
            <br>
            <i> Plentiful parking is available in the lot towards the rear of the church </i> <br>
            <h4> Mimosas and Music on the Dock </h4>
            11:30 AM - 1 PM <br>
            Enzo's on the Lake, Longwood FL <br>
            1130 US Hwy 17/92, Longwood, FL 32760 <br>
            <i> Your car will be valet parked during the cocktail hour and reception </i><br>
            <h4> Leisurely Lunch, Mingling, Dancing, Cake! </h4>
            1 - 4 PM<br>
            Enzo's on the Lake<br>
            <i> Come Hungry! </i><br>
            <h4> After Party </h4>
            Details TBD<br><br>
            <h3><b> January 19, 2020 </b></h3><br><br>
            <h4> Post-Wedding Brunch </h4>
            Details TBD<br>
            <h3> Rehearsal </h3>
            A rehearsal for the wedding party will be held on January 17, 2020 at 4pm at St. Stephen's Church. <br>
            A lunch will precede the rehearsal; details TBD. <br>
		</div>
	</section>

<!-- Footer -->
{% include footer.html %}
