---
redirect_from: /ceremony
---
{% include header.html title="The Ceremony" %}

		<!-- Ceremony main page -->
	<section id="ceremony_main" class="main style3 primary">
		<div class="content container clearbg box">
			<header>
				<h2>The Ceremony & Reception</h2>
			</header>

			<p>The ceremony will take place at 10:30 AM at <a href="https://www.google.com/maps?cid=15755442040840622879">St. Stephen's Church. </a>

			<p>January in Florida is about as nice as it gets for weather. Expect it to be like Early Autumn in New England. </p>

			<p>After the ceremony, about 11:30 PM we will move to <a href="https://www.google.com/maps?cid=16977811780175572087">Enzo's on the Lake</a>, an Italian Restaurant with a great garden and view of one of Florida's many lakes. Be prepared for fun and alligators! It's just a short drive from the Church to Enzo's.</p>

            <p>The reception will conclude at 4:30 PM, but if you're up for it, there will be one last after party at <a href=https://www.google.com/maps?cid=7092313549632439386>Sourglass Brewing</a> starting at 8 PM.
			<p>&nbsp;</p>
			<!-- <h2>RSVP</h2>
			<p>Please don't forget to <a href="rsvp.html">RSVP with our online form if you haven't already</a>!</p>

			<p>&nbsp;</p> -->
			<!-- <h2>Hotel information</h2>

			<p>If you are attending from out of town, there are a number of hotels in the area. We can recommend the <a href="http://www.marriott.com/hotels/travel/mspfe-fairfield-inn-and-suites-minneapolis-eden-prairie/">Fairfield Inn in Eden Prairie</a>, family members have stayed there before and had a good experience and it's fairly inexpensive. If you are coming from out of town, please <a href="mailto:jbiatek@gmail.com">email us</a> and tell us where you're staying so that we can leave a welcome package for you!</p> -->
		</div>


	</section>

<!-- Footer -->
{% include footer.html %}
