---
---
{% include header.html title="Noelle & A.J." %}

<!-- Intro -->
	<section id="intro" class="main style1 dark">
		<div class="content container small shadow">
			<header>
				<h2><span class="fancy">Noelle & A.J.</span>
				<h3 class="typewriter">January 18<sup>th</sup>, 2020</h3>
				<h3 class="typewriter">Orlando, FL</h3>
			</header>
            <h3>Come Down to Sunny Orlando</h3>
            <p>A.J. Devaux and Noelle Held are gettin' hitched, and you're invited!</p>
			<!--<p>Welcome! We are indifferent to you being here.  <a href="guestbook.html">sign our online guestbook</a>-->
			<!--We've been on <a href="/ourstory.html">such an amazing journey together</a>,
			and <a href="/theproposal.html">now we're engaged!</a>
			We've gotten some <a href="/engagement_photos.html">really cool engagement
			photos</a> taken, so you don't want to miss them. We'd also love it
			if you left a note for us in our <a href="/guestbook.html">online guestbook</a>.
			And, of course, we've got <a href="/ceremony.html">the details about the ceremony!</a>
			-->


			<footer>
				<a href="#story" class="button style2 down">More</a>
			</footer>
		</div>
	</section>

	<!-- Our story -->
	<section id="story1" class="main style2 right fullscreen" >
		<div class="content box style2" style="background-color: rgba(255, 255, 255, 0.7);">
            <h2>Noelle and A.J.</h2>
            <p>met in the most romantic of all possible circumstances: a science conference.
                Undeterred by his nerdy attempts at "flirtation", she agreed to give him a chance
                and go in a date with him. He proceeded to do his very best to show her all the best
                places in the city of Boston.
            </p>
            <p>They could talk for hours while at dinner or on road trips across New England. They
               couldn't help admiring they way each other thought, and appreciating new perspectives
               and ideas about all facets life.
		</div>
    </section>
    <section id="story2" class="main style2 left fullscreen" >
        <div class="content box style2" style="background-color: rgba(255, 255, 255, 0.7);">
            <p>Their love of adventure would frequently separate them, as he left to hike the Appalachian Trail,
                and she would spend months at sea in the name of science. They always found each other again,
                sometimes on remote Pacific islands, or among the glaciers of the Alps.
            </p>
            <p>On August 21, 2017 a solar eclipse crossed North America, and they travelled to Grand Teton National Park
                to view the event. There, atop Table Mountain, under the crescent sun, A.J. dropped to his knees and asked
                Noelle if she would spend the rest of her life with him.
            </p>
        </div>
	</section>

<!-- Adventures -->
	<section id="adventure_gallery" class="main style3 primary">
		<div class="content container clearbg">
			<header style=" padding-top: 50px; ">
				<h2>Our adventures!</h2>
			</header>


			<!--
				 Lightbox Gallery

				 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
			-->
				<!--a href="adventures.html"-->
				<div class="container small animated">
					<div class="row flush images">
						<div class="6u"><img class="image full l" src="images/adventures/mcafee_knob.jpg" title="" alt="" /></div>
						<div class="6u"><img class="image full r" src="images/adventures/old_faithful.jpg" title="" alt="" /></div>
					</div>
					<div class="row flush images">
						<div class="6u"><img class="image full l" src="images/adventures/dragons_den.jpg" title="" alt="" /></div>
						<div class="6u"><img class="image full r" src="images/adventures/basel.jpg" title="" alt="" /></div>
					</div>
					<!--div class="row flush images">
						<div class="6u"><img class="image full l" src="images/thumbs/disney.jpg" title="Disney World!" alt="" /></div>
						<div class="6u"><img class="image full r" src="images/thumbs/duluth.jpg" title="The North Shore" alt="" /></div>
					</div-->
				</div>
				</a>
			<p>&nbsp;</p>
		</div>
	</section>


    <section id="map" class="main style3 dark shadow primary"  style="background-color: rgb(186, 202, 207);">
        <div class="content container clearbg">
            <header style=" padding-top: 50px; ">
                <h2>Traveling to Orlando</h2>
                <p>A world-renowned resort destination, that literally has <em>nothing to do</em> with why the wedding is happening there!</p>
                <p>Orlando is where Noelle calls home, and her childhood priest Father George has been kind enough to officiate the ceremony.
                   When you leave the theme parks and resorts, Central Florida has beautiful natural attractions and old southern charm that is highly underrated.</p>
                <p>Plus, the weather in January is usually fantastic.</p>
                <p>If you're travelling from out-of-state, the best airport is <a href="https://www.airport-orlando.com/">Orlando International Airport.</a></p>
                <h3>Out of State Guests</h3>
    <p>If you're travelling from out-of-state, the best airport is <a href="https://www.airport-orlando.com/">Orlando International Airport.</a> Ubers are expensive and public transportation not so great, so we recommend renting a car. There will be plentiful parking at the ceremony, reception, and after party venues. That said, we encourage carpooling and are happy to help facilitate! </p>
    <p><h3>Things to Do</h3>
    <p> Mid-January is an excellent time to visit the theme parks with good weather and smaller crowds! But if you are not into Mickey Mouse, here are some authentic Florida wonders:
    <ul>
    <li><b>Beaches:</b> New Smyrna Beach (Noelle's favorite), Daytona Beach, and Cape Canaveral National Seashore (A.J.'s favorite)
    <li><b>Gators: </b>Black Hammock Restaurant, Airboat rides (drive down state route 50 towards the beach - we like Captain John. It helps if you call ahead), Gatorland Park
	<li><b> Aquatic Mammals:</b> Blue Springs State Park (Manatees, especially if it is cold out), Manatee Park in New Smyrna (better for dolphins this time of year)
<li><b>Freshwater Springs:</b> Swimmable year-round! Better yet, rent a kayak! Wekiva Springs, DeLeon Springs (save room for pancakes at the old mill), Rock Springs State Park
<li><b>Oranges: </b>In season in January! Visit Hollieanna storefront in Orlando, or drive out to Christmas, FL to see the groves
<li><b>Shopping:</b> Visit Park Ave in Winter Park, FL for browsing (be sure to try the chocolate popcorn at Killwin's candy store) Downtown DeLand, the Premium Outlets
<li><b>Culture: </b>The Enzian Movie Theater, the Maitland Art Center, the Polasek Museum, the Audobon Society, Leu Gardens, Kennedy Space Ceter
<li><b> Further Away:</b> St. Augustine, the oldest town in the US, via Mount Dora makes for a great road trip!
            </header>

            <iframe id="map_iframe"
                  width="100%"
                  height="500"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                  src="https://www.google.com/maps/d/embed?mid=1nwFwqPnTmgYFR0tf3II7Jxa39aaE770Y"
                  allowfullscreen>
            </iframe>
                  <p>A handy map of the Greater Orlando region, including some of our favorite places, and important locations for the wedding.</p>
                  <p>Click on the upper-left corner to view directions.  You can email this map to yourself for easy access.</p>
            <!--<br>
            <small id="map_iframe"
              width="100%"
              height="100%"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://www.google.com/maps/d/embed?mid=1nwFwqPnTmgYFR0tf3II7Jxa39aaE770Y"
              allowfullscreen>
            </small>-->
        </div>
    </section>

        <section id="map" class="main style3 dark shadow primary"  style="background-color: rgb(186, 202, 207);">
        <div class="content container clearbg">
            <header style=" padding-top: 50px; ">
                <h2>Lodging</h2>
                <p>The wedding will be held in Winter Springs, FL about one hour from Disney/Universal and from New Smyrna/ Daytona beach. The church is approximately a 30 minute drive from the Orlando International Airport. <br><br>If you'd like to stay near the festivities, we suggest the following:</p>
               </header>
<ul>
    <li style="text-align:left;">
        <p><a href = 'https://www.marriott.com/hotels/travel/mcowl-the-westin-lake-mary-orlando-north/'>Westin Lake Mary North </a>, Lake Mary <br> Close to the party and route I-4 for reaching the airport/parks/beaches. </p>
    </li>
    <li style="text-align:left;">
        <p><a href = 'https://www.wyndhamhotels.com/hotels/Orlando-Florida?brand_id=LQ&iata=00093763&cid=PS:LQ:20190403:BING:TM:LQUS:NA:NA:EN-US&msclkid=3580e3d849041e839b84bf2514fbc91f&userguid=4e5c7a3c-ad95-4003-b194-e7ee66206fe0'>La Quinta Inn and Suites </a>, Lake Mary <br> A bit closer to the reception and after party venues, near a nice shopping district and convenient to I-4. </p>
    </li>
      <li style="text-align:left;">
        <p><a href = 'https://www.candlewoodsuites.com/hotels/us/en/lake-mary/mcolm/hoteldetail?fromRedirect=true&qSrt=sBR&qIta=99504440&icdv=99504440&glat=SEAR&qSlH=MCOLM&setPMCookies=true&qDest=1130%20Greenwood%20Boulevard,%20Lake%20Mary,%20FL,%20US&dp=true&msclkid=7b726766a5ae128fd30c3b9bfbf21763&cid=15969&srb_u=1'>Candlewood Suites </a>, Lake Mary <br> Next door to the La Quinta </p>
    </li>
    <li style="text-align:left;">
        <p><a href = 'https://hiltongardeninn3.hilton.com/en/hotels/florida/hilton-garden-inn-orlando-north-lake-mary-ORLLMGI/index.html?SEO_id=GMB-HI-ORLLMGI'>The Alfond Inn </a>, Winter Park <br> A Boutique hotel near beautiful downtown Winter Park. A bit farther from the action but great if you want to relax and walk to restaurants, bars, and activities. Be sure to check out the Winter Park Boat Tour! </p>
    </li>
    </li>
  </ul>
  <p>We also encourage you to check out AirBnBs which are very affordable in our area. Search for Oviedo, Lake Mary, Altamonte Springs, Winter Park, or downtown Orlando. If you want to stay near the parks search for Kissimmee. All of these locations are within a 30 minute drive from the festivities. Downtown Orlando in particular has become a foodie destination with a cool mid-century feel!
 <br><br>
   Central Florida is unfortunately lacking in good public transportation. We highly suggest renting a car from the airport if you will be flying in. If you would like to find a carpool buddy please let us know; we are happy to help. </p>

        </div>
    </section>


	<!-- Proposal
	<section id="proposal" class="main style2 left fullscreen">
		<div class="content box style2" style="background-color: rgba(255, 255, 255, 0.7);">
			<header><h2>The Proposal &mdash;<br> Her Story</h2></header>
			<p style="font-size:85%"> I knew something was up when we were getting ready to go out to dinner the
			night of our 4 year anniversary and suddenly Jason declared that he had no
			black socks, and so he must immediately run to Target, and then bolted out
			the door. It was quite un-Jason-like, so I was pretty suspicious, but also really hungry for dinner.
			Dinner, as it turned out, was at this lovely restaurant called Forepaugh's in St Paul,
			and we got through the meal without any surprises, so I started to think that
			all of my suspicions were for naught. But then the dessert menu came, and
			Jason told me not to order because he had other plans for desssert.
			But, before dessert, he asked if I would like to go explore the upstairs of the restaurant
			(which is apparently a haunted house). I'm a sucker for 19th century
			architecture, so we went upstairs to explore. I was investigating the upper
			landing when Jason informed me that he had an important question that he had
			been meaning to ask, and my heart jumped, of course. But then
		       	he told me that he'd been
			designing a website and he wanted to ask what I thought. I had thought
			he was teasing, so I punched him. However, he actually did have a website
			on his phone that he wanted me to see, and on the bottom was a sweet
			little message and the words "Will you marry me?" and I burst into tears
			as soon as I saw him get down on one knee. After we calmed down, we called
			our parents, cried more, and then we went to dessert, which turned out to
			be Perkins and our friends were there! We celebrated with tears, hugs, and pie.
			Also, it turned out the website he showed me on his phone was this one:
			jasonandali.aretotallygettingmarried.com! So we've re-vamped it to be
			our wedding website!</p>
		</div>
	</section>

	<section id="proposal_jason" class="main style2 right fullscreen">
		<div class="content box style2" style="background-color: rgba(255, 255, 255, 0.7);">
			<header><h2>His Story</h2></header>
			<p style="font-size:85%">Okay, so here's the thing about the socks. There was a mix-up with the
			jewelry store, so they didn't have the ring ready when I went to get it that
			morning. They said they'd try to get it sorted out as soon as possible,
			but I had to get home and get ready for dinner. Then, just before I got
			home, they called and said that it was ready sooner than expected! So I had
			to come up with a way to go pick it up without Ali noticing. I ran through
			a bunch of plans in my head&hellip; I could just propose as we headed out the door,
			and say that we needed to go get the ring, I could blindfold her and say
			that the restaurant was a surprise, and then make a "pit stop"&hellip; Ultimately,
			I settled on the socks. In fairness, I legitimately only had one black sock
			in my drawer, so it wasn't a total lie.</p>

			<p style="font-size:85%">At that point, I hadn't quite started the ball rolling, so I had a decision
			to make &mdash; propose tonight, or delay it? With the ring ending up getting
			finished early, I decided that all signs pointed to yes. I had already asked
			her parents' permission, so I called my parents to let them know and sent a
			text to our friends to tell them and ask them out to Perkins for dessert.
			The whole thing was fairly improvised. I had put together the website and my
			note, but other than that, I didn't have a firm plan. I thought about asking
			early on in the dinner, so that she could be excited about it, but it just
			never ended up feeling right. When we overheard the table next to us talking
			to their server about exploring the house/restaurant, it all clicked into place.
			It's a good thing I waited, because I don't know if we could have made it
			through dinner otherwise. We dashed off to Perkins, calling our parents
			along the way, and we were treated to some complimentary pies &mdash; a
			perfect end to the night.</p>
		</div>
	</section>
 -->
	<!-- Engagement photos blurb -->
	<section id="engagement_photos" class="main style3 dark shadow primary"  style="background-color: rgb(186, 202, 207);">
		<div class="content container">

			<header>
				<h2>Engagement photos</h2> <!-- Note: Maybe use rgb(186, 202, 207); as the background? -->
			</header>


			<!--
				 Lightbox Gallery

				 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
			-->
				<a href="engagement_photos.html">
				<div class="container small animated">
					<div class="row flush images">
						<!--div class="6u"><img class="image full l" src="images/thumbs/engagement/AliJason-43-3106948439-O.jpg" /></div-->
						<!--div class="6u"><img class="image full r" src="images/thumbs/engagement/AliJason-65-3106950000-O.jpg"/></div-->
					</div>
					<!--div class="row flush images">
						<div class="6u"><img class="image full l" src="images/thumbs/engagement/AliJason-73-3106950934-O.jpg"/></div>
						<div class="6u"><img class="image full r" src="images/thumbs/engagement/AliJason-93-3106952105-O.jpg" /></div>
					</div>
					<div class="row flush images">
						<div class="6u"><img class="image full l" src="images/thumbs/engagement/AliJason-125-3106954029-O.jpg"/></div>
						<div class="6u"><img class="image full r" src="images/thumbs/engagement/AliJason-170-3106956478-O.jpg"/></div>
					</div-->
				</div>
				</a>



		</div>
	</section>



	<!-- Ceremony -->
	<section id="ceremony" class="main style3 dark">
		<div class="content container small shadow">
			<header><h2>The Ceremony</h2></header>

			<p>We are getting married on January 18th, 2019 at  <a href="https://www.st-stephen.com/">St. Stephen's Catholic Church</a>.</p>
			<p>The ceremony begins at 10:30 AM
			Please see <a href="ceremony.html">the main ceremony page</a> for more information and day of details.</p>
			<p>Our reception will be just down the road, at <a href="http://www.enzos.com">Enzo's On The Lake</a> in Longwood</p>

		</div>
	</section>

	<!-- Ceremony -->
	<section id="ceremony" class="main style3 dark">
		<div class="content container small shadow">
			<header><h2>Gifts</h2></header>

			<p>Truly the greatest gift you can give to us is your presence on our wedding day. We will be moving shortly after the wedding and won’t be able to take any tangible gifts with us. If you insist, we would very much appreciate contributions to our <a href = "https://registry.theknot.com/noelle-held-alexander-devaux-january-2020-fl/34148383">first home fund.</a> </p>

		</div>
	</section>


{% include footer.html %}
