---
---
{% include header.html title="Noelle & A.J." %}

<!-- Intro -->
	<section id="intro" class="main style1 dark">
		<div class="content container small shadow">
			<header>
				<h2><span class="fancy">Noelle & A.J.</span>
				<h3 class="typewriter">January 18<sup>th</sup>, 2020</h3>
				<h3 class="typewriter">Orlando, FL</h3>
			</header>
            <!--p>Come Down to Sunny Orlando</p>
            <br />
            <p>A.J. Devaux and Noelle Held are gettin' hitched, and you're invited!</p-->

			<footer>
				<a href="#story1" class="button style2 down">More</a>
			</footer>
		</div>
	</section>

<!-- Our story -->
	<section id="story1" class="main style2 right fullscreen" >
		<div class="content box style2" style="background-color: rgba(255, 255, 255, 0.6);">
            <h2>Noelle and A.J.</h2>
            <p>met in the most romantic of all possible circumstances: a science conference.
                Undeterred by his nerdy attempts at "flirtation", she agreed to give him a chance
                and go in a date with him. He proceeded to do his very best to show her all the best
                places in the city of Boston.
            </p>
            <p>They could talk for hours while at dinner or on road trips across New England. They
               couldn't help admiring they way each other thought, and appreciating new perspectives
               and ideas about all facets life.</p>
		</div>
    </section>
    <section id="story2" class="main style2 left fullscreen" >
        <div class="content box style2" style="background-color: rgba(255, 255, 255, 0.6);">
            <h3>Their love</h3>
            <p> of adventure would frequently separate them, as he left to hike the Appalachian Trail,
                and she would spend months at sea in the name of science. They always found each other again,
                sometimes on remote Pacific islands, or among the glaciers of the Alps.
            </p>
            <p>On August 21, 2017 a solar eclipse crossed North America, and they travelled to Grand Teton National Park
                to view the event. There, atop Table Mountain, under the crescent sun, A.J. dropped to his knees and asked
                Noelle if she would spend the rest of her life with him.</p>
        </div>
	</section>

<!-- Adventures -->
	<section id="adventure_gallery" class="main style3 primary">
		<div class="content container clearbg">
			<header style=" padding-top: 50px; ">
				<h2>Our Adventures!</h2>
			</header>
			<!--
				 Lightbox Gallery

				 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
			-->
				<a href="/adventures.html">
				<div class="container small gallery animated">
					<div class="row flush images">
						<div class="6u"><a href="images/adventures/mcafee_knob.jpg" class="image full l"><img  src="images/adventures/mcafee_knob.jpg" title="McAfee Knob, VA"/></a></div>
						<div class="6u"><a href="images/adventures/old_faithful.jpg" class="image full r"><img class="image full r" src="images/adventures/old_faithful.jpg" title="Old Faithful, YNP" /></a></div>
					</div>
					<div class="row flush images">
						<div class="6u"><a href="images/adventures/dragons_den.jpg" class="image full l"><img class="image full l" src="images/adventures/dragons_den.jpg" title="Dragon's Den, YNP" /></a></div>
						<div class="6u"><a href="images/adventures/basel.jpg" class="image full r"><img class="image full r" src="images/adventures/basel.jpg" title="Basel, Switzerland" /></a></div>
					</div>
					<div class="row flush images">
						<div class="6u"><a href="images/adventures/noelle_kayak2.jpg" class="image full l"><img class="image full l" src="images/adventures/noelle_kayak2.jpg" title="Mo'orea, French Polynesia" /></a></div>
						<div class="6u"><a href="images/adventures/katahdin.JPG" class="image full r"><img class="image full r" src="images/adventures/katahdin.JPG" title="Last Day on the Trail" alt="" /></a></div>
					</div
				</div>
				</a>
			<p>&nbsp;</p>
		</div>
	</section>

<!-- Map -->
    <section id="map" class="main style3 dark shadow primary"  style="background-color: rgb(186, 202, 207);">
        <div class="content container small shadow">
            <header style=" padding-top: 50px; ">
                <h2>Traveling to Orlando</h2>
                <p>A world-renowned resort destination, that literally has <em>nothing to do</em> with why the wedding is happening there!</p>
                <p>Orlando is where Noelle calls home. Her childhood priest Father George will officiate the ceremony.
                   When you leave the theme parks and resorts, Central Florida has beautiful natural attractions and old southern charm that is highly underrated.</p>
                <p>Plus, the weather in January is usually fantastic.</p>
                <p>If you're travelling from out-of-state, the best airport is <a href="https://www.airport-orlando.com/">Orlando International Airport.</a></p>
                <h3>Out of State Guests</h3>
                <p>If you're travelling from out-of-state, the best airport is <a href="https://www.airport-orlando.com/">Orlando International Airport.</a> Ubers are expensive and public transportation not so great, so we recommend renting a car. There will be plentiful parking at the ceremony, reception, and after party venues. That said, we encourage carpooling and are happy to help facilitate! </p>

            </header>

            <iframe id="map_iframe"
                  width="100%"
                  height="500"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                  src="https://www.google.com/maps/d/embed?mid=1nwFwqPnTmgYFR0tf3II7Jxa39aaE770Y"
                  allowfullscreen>
            </iframe>
                  <p>A handy map of the Greater Orlando region, including some of our favorite places, and important locations for the wedding. Check the <a href="/lodging.html">Lodging & Activities</a> page for more info</p>
                  <p>Click on the upper-left corner to view directions.  You can email this map to yourself for easy access.</p>
            <!--<br>
            <small id="map_iframe"
              width="100%"
              height="100%"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://www.google.com/maps/d/embed?mid=1nwFwqPnTmgYFR0tf3II7Jxa39aaE770Y"
              allowfullscreen>
            </small>-->
        </div>
    </section>

<!-- Engagement Photos  -->
	<section id="engagement_photos" class="main style3 dark shadow primary"  style="background-color: rgb(186, 202, 207);">
		<div class="content container">
			<header style=" padding-top: 50px; ">
				<h2>Engagement photos</h2> <!-- Note: Maybe use rgb(186, 202, 207); as the background? -->
                <!-- <p>Coming soon! Check back in to see them!</p> -->
			</header>
			<!--
				 Lightbox Gallery

				 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
			-->
			<a href="engagement_photos.html">
			<div class="container small animated">
				<div class="row flush images">
					<div class="6u"><img class="image full l" src="images/engagement/noelle-1739.jpg"></div>
					<div class="6u"><img class="image full r" src="images/engagement/noelle-0988.jpg"></div>
				</div>
				<div class="row flush images">
					<div class="6u"><img class="image full l" src="images/engagement/noelle-1580.jpg"></div>
					<div class="6u"><img class="image full r" src="images/engagement/noelle-0460.jpg"></div>
				</div>
				<div class="row flush images">
					<div class="6u"><img class="image full l" src="images/engagement/noelle-1297.jpg"></div>
					<div class="6u"><img class="image full r" src="images/engagement/noelle-1898.jpg"></div>
				</div>


			</div>
			</a>
		</div>
	</section>
<!-- Wedding Party  -->
	<section id="wedding_party" class="main style3 dark">
		<div class="content container">
			<header style=" padding-top: 50px; ">
				<h2>Wedding Party</h2>
                <p>The best guys and gals</p>
			</header>
			<!--
				 Lightbox Gallery

				 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
			-->

			<div class="container small gallery animated"">
				<div class="row flush images">
					<div class="6u"><a href="images/party/rachel-liz.png" class="image full l"><img src="images/party/rachel-liz_sq.png" title="Rachel Homza"/></a></div>
					<div class="6u"><a href="images/party/eric.jpg" class="image full r"><img src="images/party/eric_sq.jpg" title="Eric Devaux"/></a></div>
				</div>
				<div class="row flush images">
					<div class="6u"><a href="images/party/michelle.png"  class="image full l"><img src="images/party/michelle_sq.png" title="Michelle Vergara"/></a></div>
					<div class="6u"><a href="images/party/garvey.jpg" class="image full r"><img src="images/party/garvey_sq.jpg" title="Garvey McKenzie"/></a></div>
				</div>
				<div class="row flush images">
					<div class="6u"><a href="images/party/marianne.png" class="image full l"><img src="images/party/marianne_sq.png" title="Marianne Acker"/></a></div>
					<div class="6u"><a href="images/party/craig.jpg" class="image full r"><img src="images/party/craig_sq.png" title="Craig Norton"/></a></div>
				</div>
				<div class="row flush images">
					<div class="6u"><a href="images/party/kristen.png" class="image full l"><img src="images/party/kristen_sq.png" title="Kristen Mader"/></a></div>
					<div class="6u"><a href="images/party/harley.png" class="image full r"><img src="images/party/harley_sq.png" title="Harley Blumenfeld"/></a></div>
				</div>
				<div class="row flush images">
					<div class="6u"><a href="images/party/jordyn.png" class="image full l"><img src="images/party/jordyn_sq.png" title="Jordyn Mader"/></a></div>
					<div class="6u"><a href="images/party/zach.jpg" class="image full r"><img src="images/party/zach_sq.png" title="Zachary Blumenfeld" /></a></div>
				</div>
				<div class="row flush images">
                    <div class="3u"><img class="image full l" src="images/party/spacer_sq.png" /></div>
                    <div class="6u"><a href="images/party/wesley.jpg" class="image full c"><img src="images/party/wesley_sq.png" title="Wesley Held"/></a></div>
					<div class="3u"><img class="image full r" src="images/party/spacer_sq.png" /></div>
				</div>
			</div>
		</div>
	</section>
<!-- Ceremony -->
	<section id="ceremony" class="main style3 dark">
		<div class="content container small shadow">
			<header><h2>The Ceremony</h2></header>
			<p>We are getting married on January 18th, 2019 at  <a href="https://www.st-stephen.com/">St. Stephen's Catholic Church</a>.</p>
			<p>The ceremony begins at 11 AM.
			Please see <a href="ceremony.html">the day of details page</a> for more information and day of details.</p>
			<p>Our reception will be just down the road, at <a href="http://www.enzos.com">Enzo's On The Lake</a> in Longwood</p>
		</div>
	</section>

<!-- Gifts -->
	<section id="gifts" class="main style3 dark">
		<div class="content container small shadow">
			<header><h2>Gifts</h2></header>
			<p>Truly the greatest gift you can give to us is your presence on our wedding day. We will be moving overseas shortly after the wedding and won’t be able to take any tangible gifts with us.</p>
            <p>If you insist, we would very much appreciate contributions to our <a href = "https://registry.theknot.com/noelle-held-alexander-devaux-january-2020-fl/34148383">first home fund.</a> </p>

		</div>
	</section>

{% include footer.html %}
